*
  background-color: black
  color: #00FF00

.inviso
  visibility: hidden

table
  border-collapse: collapse

td
  border:
    width: 1px
    color: #101010
    style: solid
  padding: 0
  width: 12px
  height: 21px
  font:
    family: monospace
    size: 20px
  
