*
  background-color: black
  color: #00FF00

*.inverse
  background-color: #00FF00
  color: black

.inviso
  visibility: hidden

table
  border-collapse: collapse

td
  margin: 0
  padding: 0
  width: 12px
  height: 24px
  font:
    family: monospace
    size: 20px
  
div.screen-container
  width: 960px
  margin: 20px auto