settings: &settings
  adapter: mysql
  encoding: utf8
  reconnect: false
  host: localhost
  username: root
  password:
  socket: /opt/local/var/run/mysql5/mysqld.sock

development:
  <<: *settings
  database: webhack_development

test: &TEST
  <<: *settings
  database: webhack_test

production:
  <<: *settings
  database: webhack_production

cucumber:
  <<: *TEST